.dash{

  .top-image {
    position: relative;
    text-align: center;

    .text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .weather-cond  {
       display: flex;
        flex-direction: column;
        color: #EC6E0A;

      }


      .top-img-text {
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.2rem;
        color:white;
      }
    }



    img {
      max-width: 100%;
      height: auto;
    }
  }

  .reports-sect{
    h3{

    }

    .reports-h{
      margin-bottom: 3%;
    }

  }

  .articles{
    width:90%;
    margin: 5% 5% 5% 1%;

    .articles-header{
      display: flex;
      justify-content:space-between;
      align-items: center;
      h3{

      }

      .see-all{
        display: flex;
        margin: 2%;
        cursor:pointer;
        .text{
          font-size: 1.1rem;
          color:#737B8B;

        }

      }
    }

    .articles-subheader{
      color: #737B8B;
      margin-bottom: 2%;
    }
    .article-cards{
      display: flex;
      gap:5%;
    }

    .satelite{
      margin-top: 2%;
      h3{

      }

      img{
        height: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 5%;
        margin-top: 2%;
      }
    }
  }







}