.condition-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 300px;

  .chart-container {
    // Style the chart container as needed
  }

  .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    .ph-level {
      font-size: 18px;
    }

    .alkaline-level {
      font-size: 16px;
      margin-top: 10px;
    }
  }
}

.article-card{
  width: 300px;
  background-color: rgba(121, 138, 169, 0.49);
  border-radius: 9%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 3%;

  .space{
    margin-bottom: 2%;
  }


  img{
    object-fit: cover;
    width: 50px;
    height: 50px;


  }

  .card-head{
    font-weight: bold;
    color: #737B8B;

  }

  .card-desc{
    color:gray;

  }

}
