.crop-clinic{

  .c-header{
    color:#55A55E;
    font-size: 30px;
    margin-top: 4%;


  }



  .w-text{
    color:#55A55E;

  }


  .w-text2{

  }

  .advisor{

    .a-head{
      color:#55A55E;

    }

    .a-2{

    }

  }

  .form-fields{
    width:90%;
  }
}